name: Main

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Get dependencies
        run: make deps
      - name: Build
        run: make
      - name: Test
        run: go test
